<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    .email-header {
      background-color: #f8f9fa;
      padding: 20px;
    }
    .email-body {
      padding: 20px;
    }
    .car-details {
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <div class="email-header">
    <h1>Confirme sua viagem</h1>
  </div>
  <div class="email-body">
    <p>Olá, <%= @owner_name %></p>
    <p>Precisamos que voce confirm sua viagem, clicando neste link abaixo</p>
    <div class="car-details">
      <p>Link aqui</p>
    </div>
    <p>Obrigado por planejar sua viagem conosco.</p>
  </div>
</body>
</html>
